<footer class="text-center fixed-bottom">
  <div class="footer-above">
    <div class="container-fluid" id="footer">
      <div class="row">
        <div class="footer-col col-xs-12 col-md-12">
          <br>
          <p>Coded and designed by <a href="https://github.com/matheus-lima92" target="_blank">Matheus Lima</a>, full stack software engineer</p>
          <p>Download this repository from Github:</p>
          <a href="#" target="_blank">
            <img src="http://codeam.com.br/curso-completo-git/assets/img/github.png" width="50" height="50">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>